.widgets_box {
    direction: ltr;
    white-space: wrap;
    position: relative;
    border: 1px solid transparent;
    padding: 5px 0;
}
.widgets_box:hover {
    border: 1px dashed brown;
}
.remove_widgets_link {
    visibility: hidden;
    position: absolute;
    top: 0;
    right:5px;
}
.select-widget {
    visibility: hidden;
    margin-right: 5px;
}
.widgets_box:hover .remove_widgets_link{
    visibility: visible;
}
.widgets_box:hover .select-widget{
    visibility: visible;
}

.icon-plus {
    color: grey;
}

.icon-plus:hover {
    color: #003acc;
}

.icon-minus {
    color: grey;
}

.icon-minus:hover {
    color: #cc0000;
}

.icon-edit {
    color: grey;
}

.icon-edit:hover {
    color: #2ccc00;
}


.icon_size16 {
    font-size: 16px;
}

.radio-button-edit[type=radio] {
    display: none;
}
