.social-icon a:hover {
    text-decoration: none !important;
}
.price-sec-wrap {
    width: 100%;
    float: left;
    padding: 60px 0;
    font-family: 'Lato', sans-serif;
}
.main-heading {
    text-align: center;
    font-weight: 600;
    padding-bottom: 15px;
    position: relative;
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 25px;
}
.price-box {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.10);
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}
.price-box ul {
    padding: 10px 0px 30px;
    margin: 17px 0 0 0;
    list-style: none;
    border-top: solid 1px #e9e9e9;
}
.price-box ul li {
    padding: 7px 0;
    font-size: 14px;
    color: #808080;
}
.price-box ul li .fas {
    color: #68AE4A;
    margin-right: 7px;
    font-size: 12px;
}
.price-label {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.34;
    margin-bottom: 0;
    padding: 6px 15px;
    display: inline-block;
    border-radius: 3px;
}
.price-label.basic {
    background: #E8EAF6;
    color: #3F51B5;
}
.price-label.value {
    background: #E8F5E9;
    color: #4CAF50;
}
.price-label.premium {
    background: #FBE9E7;
    color: #FF5722;
}
.price {
    font-size: 44px;
    line-height: 44px;
    margin: 15px 0 6px;
    font-weight: 900;
}
.price-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.67;
    color: inherit;
    width: 100%;
    margin: 0;
    color: #989898;
}
.plan-btn {
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 11px 30px;
    border: 2px solid #b3b3b3;
    color: #000;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.plan-btn::after {
    position: absolute;
    left: -100%;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: #000;
    z-index: -1;
    transition: all 0.35s ease-in-out;
}
.plan-btn:hover::after {
    left: 0;
}
.plan-btn:hover,
.plan-btn:focus {
    text-decoration: none;
    color: #fff;
    border: 2px solid #000;
}
@media (max-width: 991px) {
    .price-box {
        margin-bottom: 20px;
    }
}
@media (max-width: 575px) {
    .main-heading {
        font-size: 21px;
    }
    .price-box {
        margin-bottom: 20px;
    }
}

.icon-badge-group .icon-badge-container {
    display: inline-block;
    margin-left:15px;
}

.icon-badge-group .icon-badge-container:first-child {
    margin-left:0;
}

.icon-badge-container {
    margin-top: 0px;
    position:relative;
}

.icon-badge-icon {
    font-size: 20px;
    position: relative;
}

.icon-badge {
    background-color: red;
    font-size: 12px;
    color: white;
    text-align: center;
    width:16px;
    height:16px;
    border-radius: 100%;
    position: absolute; /* changed */
    top: -5px; /* changed */
    left: 12px; /* changed */
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(142, 155, 169, 0.6);
}

/* When you mouse over the container, fade in the overlay icon*/
.img-box:hover .overlay {
    opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-user:hover {
    color: #eee;
}

.circle{
    width: 100%;
    min-height: 250px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
}

.square{
    width: 100%;
    min-height: 250px;
    border: 1px solid lightgrey;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
}

.rectangle{
    width: 100%;
    height: 200px;
    border: 1px solid lightgrey;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: center;
}
