
<template>
    <div>
        <font-awesome-picker v-model="icon"></font-awesome-picker>
    </div>
</template>

<script>
    import FontAwesomePicker from "bootstrap-vue-font-awesome-picker";

    export default {
        name: "MyComponent",
        components: {
            FontAwesomePicker
        },

        data() {
            return {
                icon: "fas fa-user-cog"
            };
        }
    }
</script>
