<template>
    <div class="row">
        <div class="col-md-12" v-if="loading">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
        </div>
        <div class="col-md-12" v-else>
            <div class="row">
                <div class="col-md-3">
                    <div class="img-box">
                        <img :src="companyObj.logo" class="img-thumbnail">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <vue-dropzone
                                    ref="myVueDropzone"
                                    id="dropzone"
                                    :max-number-of-files='1'
                                    :options="dropzoneOptions"
                                    @vdropzone-success="fileAddedSuccess"></vue-dropzone>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    name: "edit-logo",
    prop: ['company'],
    components: {vueDropzone: vue2Dropzone},
    data() {
        return {
            loading: true,
            company: null,
            companyObj: null,
            dropzoneOptions: {
                url: '/api/v1/company/' + this.$attrs.company + '/edit_logo',
                thumbnailWidth: 150,
                acceptedFiles: "image/jpeg,image/png,image/gif",
                maxFilesize: 5,
                dictDefaultMessage: "<i class='fa fa-upload'></i> Cambia logo"
            }
        }
    },
    created() {
        this.company = this.$attrs.company;
    },
    methods: {
        get_company() {
            axios
                .post('/api/v1/company/' + this.company)
                .then(response => {
                    this.companyObj = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        },

        fileAddedSuccess(file, response) {
            this.get_company()
        },

    },
    mounted() {
        this.get_company()
    }
}
</script>

<style scoped>
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(119, 136, 153, 0.6);
}

/* When you mouse over the container, fade in the overlay icon*/
.img-box:hover .overlay {
    opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-user:hover {
    color: #eee;
}
</style>
