<template>
    <div class="row">
        <div class="col-md-12" v-if="loading">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
        </div>
        <div class="col-md-12" v-else>
            <form @submit.prevent="submit">
                <div class="row">
                    <div class="col-md-3">
                        <div class="img-box">
                            <img :src="fields.logo" class="img-thumbnail">
                            <div class="overlay img-thumbnail">
                                <a :href="'/company/edit_logo/'+this.companyObj.id" class="icon" title="Modifica logo">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Nome azienda</label>
                                    <input type="text" v-model="fields.name" class="form-control"/>
                                    <div v-if="errors && errors.name" class="text-danger">{{ errors.name[0] }}</div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Indirizzo</label>
                                    <input type="text" v-model="fields.address" class="form-control"/>
                                    <div v-if="errors && errors.address" class="text-danger">{{
                                            errors.address[0]
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">E-Mail</label>
                                    <input type="email" v-model="fields.email" class="form-control"/>
                                    <div v-if="errors && errors.email" class="text-danger">{{ errors.email[0] }}</div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Web Site</label>
                                    <input type="text" v-model="fields.website" class="form-control"/>
                                    <div v-if="errors && errors.website" class="text-danger">{{
                                            errors.website[0]
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Phone</label>
                                    <input type="text" v-model="fields.phone" class="form-control"/>
                                    <div v-if="errors && errors.phone" class="text-danger">{{ errors.phone[0] }}</div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Fax</label>
                                    <input type="text" v-model="fields.fax" class="form-control"/>
                                    <div v-if="errors && errors.fax" class="text-danger">{{ errors.fax[0] }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Categoria</label>
                                    <multiselect
                                        v-model="selectCategory"
                                        :multiple="false"
                                        :options="categories"
                                        :taggable="false"
                                        @select="onSelectCategory">
                                    </multiselect>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Classificazione</label>
                                    <multiselect
                                        v-model="selectClassification"
                                        :multiple="false"
                                        :options="classifications"
                                        :taggable="false"
                                        @select="onSelectClassification">
                                    </multiselect>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Distretto</label>
                                    <multiselect
                                        v-model="selectDistrict"
                                        :multiple="false"
                                        :options="districts"
                                        :taggable="false"
                                        @select="onSelectDistrict">
                                    </multiselect>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary btn-sm" @click="editCompany">Salva
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    name: "edit-company",
    prop: ['company'],
    components: {Multiselect},
    data() {
        return {
            loading: true,
            company: null,
            companyObj: null,
            fields: {},
            errors: {},
            categories: null,
            selectCategory: null,
            classifications: null,
            selectClassification: null,
            districts: null,
            selectDistrict: null
        }
    },
    created() {
        this.company = this.$attrs.company;
        this.get_categories()
        this.get_classifications()
        this.get_districts()
    },
    methods: {
        onSelectCategory(value){
            this.fields.category = value
        },
        onSelectDistrict(value){
            this.fields.district = value
        },
        onSelectClassification(value){
            this.fields.classification = value
        },
        set_params() {
            this.fields.name = this.companyObj.name
            this.fields.address = this.companyObj.address
            this.fields.email = this.companyObj.email
            this.fields.website = this.companyObj.website
            this.fields.logo = this.companyObj.logo
            this.fields.phone = this.companyObj.phone
            this.fields.fax = this.companyObj.fax
            this.fields.category = this.companyObj.category
            this.fields.district = this.companyObj.district
            this.fields.classification = this.companyObj.classification
            this.selectCategory = this.companyObj.category
            this.selectClassification = this.companyObj.classification
            this.selectDistrict = this.companyObj.district
        },
        get_districts() {
            axios
                .post('/api/v1/companies/districts')
                .then(response => {
                    this.districts = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        get_categories() {
            axios
                .post('/api/v1/companies/categories')
                .then(response => {
                    this.categories = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        get_classifications() {
            axios
                .post('/api/v1/companies/classifications')
                .then(response => {
                    this.classifications = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        editCompany() {
            axios
                .post('/api/v1/company/' + this.companyObj.id + '/edit', this.fields)
                .then(response => {
                    window.location.href = "/company/index/" + this.companyObj.id;
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors || {};
                    }
                })
        }
    },
    mounted() {
        axios
            .post('/api/v1/company/' + this.company)
            .then(response => {
                this.companyObj = response.data;
                this.set_params()

            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    }
}
</script>

<style scoped>
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(142, 155, 169, 0.6);
}

/* When you mouse over the container, fade in the overlay icon*/
.img-box:hover .overlay {
    opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-user:hover {
    color: #eee;
}
</style>
