<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="text-center" v-if="loading">
                    <i class="fa fa-spinner fa-spin fa-4x"></i>
                </div>
                <div v-else>
                    <modal v-if="showModal" @close="showModal = false">
                        <h3 slot="header">{{ selectedEvent.title }}</h3>
                        <div slot="body">
                            <span class="font-weight-bold" v-if="selectedEvent.location !== null">{{ selectedEvent.location.name }}</span><br>
                            <span class="font-italic"v-if="selectedEvent.location !== null">{{ selectedEvent.location.address }}</span><br><br>
                            <i class="fa fa-clock"></i> {{ selectedEvent.start }} - {{
                                selectedEvent.end
                            }}<br><br><br><br>
                            <span class="float-right font-italic">{{ selectedEvent.company.name }}</span>
                        </div>
                        <div slot="footer">
                            <button class="btn btn-sm btn-success" @click="showDetail(selectedEvent.id)">
                                Dettagli
                            </button>
                            <button class="btn btn-sm btn-danger" @click="closeModal()">
                                Chiudi
                            </button>
                        </div>
                    </modal>
                    <FullCalendar :options="calendarOptions"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import listPlugin from '@fullcalendar/list'
import itLocale from '@fullcalendar/core/locales/it'
import modal from "../widget/modal";

export default {
    name: "events",
    components: {Multiselect, FullCalendar, modal},
    data() {
        return {
            loading: true,
            showModal: false,
            selectedEvent: null,
            calendarOptions: {
                plugins: [
                    dayGridPlugin, listPlugin
                ],
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'listWeek,dayGridDay,dayGridWeek,dayGridMonth'
                },
                locale: itLocale,
                initialView: 'dayGridMonth',
                initialEvents: this.getEvents(),
                editable: true,
                selectable: true,
                selectMirror: true,
                dayMaxEvents: true,
                weekends: true,
                select: this.handleDateSelect,
                eventClick: this.handleEventClick,
                eventsSet: this.handleEvents,
                eventDisplay: 'block',

                /* you can update a remote database when these fire:
                eventAdd:
                eventChange:
                eventRemove:
                */
            },
            currentEvents: []
        }
    },
    methods: {
        closeModal() {
            this.$emit('modal-close');
        },
        showDetail(eventId) {
            window.location.href = "/events/"+eventId;
        },
        getEvents() {
            axios
                .post('/api/v1/events')
                .then(response => {
                    this.calendarOptions.initialEvents = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        },
        handleEventClick(clickInfo) {
            let event_id = parseInt(clickInfo.event.id);
            axios
                .post('/api/v1/events/' + event_id)
                .then(response => {
                    this.selectedEvent = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.showModal = true)

        },
        handleEvents(events) {
            this.currentEvents = events;
        }

    },
    mounted() {
        this.$on('modal-close', () => {
            this.showModal = false;
        });
    }
}
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
h2 {
    margin: 0;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

li {
    margin: 1.5em 0;
    padding: 0;
}

b { /* used for event dates/times */
    margin-right: 3px;
}

.demo-app {
    display: flex;
    min-height: 100%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

.demo-app-sidebar {
    width: 300px;
    line-height: 1.5;
    background: #eaf9ff;
    border-right: 1px solid #d3e2e8;
}

.demo-app-sidebar-section {
    padding: 2em;
}

.demo-app-main {
    flex-grow: 1;
    padding: 3em;
}

.fc { /* the calendar root */
    max-width: 1100px;
    margin: 0 auto;
}

.fc-event-title {
}
</style>
