<template>
    <div class="row">
        <div class="col-md-12" v-if="loading">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
        </div>
        <div class="col-md-12" v-else>
            <div class="row">
                <div class="col-md-4" v-if="event.cover !== null">
                    <img :src="event.cover" class="img img-responsive" width="100%"/>
                </div>
                <div class="col-md-8">
                    <table class="table table-borderless table-sm">
                        <tr>
                            <th>Nome dell'evento</th>
                            <td>{{ event.title }}</td>
                        </tr>
                        <tr v-if="event.location !== null">
                            <th>Luogo</th>
                            <td>{{ event.location.name }}, {{ event.location.address }}</td>
                        </tr>
                        <tr>
                            <th>Nr. Massimo di partecipanti</th>
                            <td>{{ event.max_participants }}</td>
                        </tr>
                        <tr v-if="event.minimum_age !== null">
                            <th>Età minima</th>
                            <td>{{ event.minimum_age }}</td>
                        </tr>
                        <tr>
                            <th>Data d'inizio</th>
                            <td>{{ event.start }}</td>
                        </tr>
                        <tr>
                            <th>Data di fine</th>
                            <td>{{ event.end }}</td>
                        </tr>
                        <tr>
                            <th>Azienda</th>
                            <td>
                                {{ event.company.name }}<br>
                                {{ event.company.phone }}<br>
                                {{ event.company.email }}<br>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" v-if="event.location !== null && event.location.address">
                <div class="col-md-12">
                    <iframe
                        width="100%"
                        height="250"
                        frameborder="0" style="border:0"
                        :src="'https://www.google.com/maps/embed/v1/place?key=AIzaSyA1RDD8DWRczIdSUF8x_vWYsS6ZJF_rn60&q='+event.location.address"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="row mt-5" v-if="event.with_reservation">
                <div class="col-md-12">
                    <h2>Clicca qui per partecipare all'evento</h2>

                    <span v-if="event.participants.length === 0">Non ci sono ancora persone che partecipano a questo evento</span>
                    <span v-else>Ci sono {{
                            this.event.participants.length
                        }}/{{ event.max_participants }} persone che parteciperanno a questo evento</span>
                    <br>
                    <a @click="participation()" v-if="auth_user_id != 0 && auth_user_is_partecipant == 0"
                       class="btn btn-success text-white mt-1"><i
                        class="fa fa-plus-circle"></i> Partecipa</a>
                    <a @click="delete_participation()" v-else-if="auth_user_id != 0 && auth_user_is_partecipant == 1"
                       class="btn btn-danger text-white mt-1"><i
                        class="fa fa-minus-circle"></i> rimuovi partecipazione</a>
                    <a href="/users/login" v-else class="btn btn-outline-primary mt-1">
                        Devi fare il login per poter partecipare all'evento</a>
                </div>
            </div>
            <modal v-if="showModal" @close="showModal = false">
                <h3 slot="header">Confermi di avere più di {{ this.event.minimum_age }} anni?</h3>
                <div slot="body">
                    Questo evento richiede l'età minima di {{ this.event.minimum_age }} anni.
                </div>
                <div slot="footer">
                    <button class="btn btn-sm btn-success" @click="saveAndCloseModal()">
                        Si, ho più di {{ this.event.minimum_age }} anni.
                    </button>
                    <button class="btn btn-sm btn-danger" @click="closeModal()">
                        No, ne ho di meno.
                    </button>
                </div>
            </modal>
        </div>
    </div>

</template>

<script>
import modal from "../widget/modal";
export default {
    name: "event-detail",

    prop: ['eventId', 'authUser'],
    components: { modal},
    data() {
        return {
            loading: true,
            event: null,
            event_id: null,
            auth_user_id: null,
            auth_user_is_partecipant: 0,
            showModal: false
        }
    },
    methods: {
        checkIfAuthUserIsPartecipant() {
            var BreakException = {};
            try {
                this.event.participants.forEach(filter => {
                    console.log(filter.user_id);
                    console.log(this.auth_user_id);
                    if (filter.user_id == this.auth_user_id) {
                        this.auth_user_is_partecipant = 1;
                        throw BreakException;
                    } else {
                        this.auth_user_is_partecipant = 0
                    }
                })
            } catch (e) {
                if (e != BreakException) throw e;
            }

        },
        saveAndCloseModal() {
            this.loading = true
            axios
                .post('/api/v1/events/participation/' + this.event_id + '/' + this.auth_user_id)
                .then(response => {
                    this.event = response.data;
                    this.auth_user_is_partecipant = 1
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
            this.showModal = false;
        },
        closeModal() {
            this.showModal = false
        },
        participation() {
            if(this.event.minimum_age !== null){
                this.showModal = true;
            }else{
                this.loading = true
                axios
                    .post('/api/v1/events/participation/' + this.event_id + '/' + this.auth_user_id)
                    .then(response => {
                        this.event = response.data;
                        this.auth_user_is_partecipant = 1
                    })
                    .catch(error => {
                        console.log(error);
                    })
                    .finally(() => this.loading = false)
            }
        },
        delete_participation() {
            this.loading = true
            axios
                .post('/api/v1/events/delete_participation/' + this.event_id + '/' + this.auth_user_id)
                .then(response => {
                    this.event = response.data;
                    this.auth_user_is_partecipant = 0
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        }
    },
    created() {
        this.event_id = this.$attrs.eventid;
        this.auth_user_id = this.$attrs.authuser;
    },
    mounted() {
        axios
            .post('/api/v1/events/' + this.event_id)
            .then(response => {
                this.event = response.data;
                this.checkIfAuthUserIsPartecipant()
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    }
}
</script>

<style scoped>

</style>
