<template>
    <select id="iconBgColor" class="form-control">
    <option value="bg-primary" class="bg-primary">Primary</option>
    <option value="bg-primary-soft" class="bg-primary-soft">Primary Soft</option>
    <option value="bg-secondary" class="bg-secondary">Secondary</option>
    <option value="bg-secondary-soft" class="bg-secondary-soft">Secondary Soft</option>
    <option value="bg-info" class="bg-info">Info</option>
    <option value="bg-info-soft" class="bg-info-soft">Info Soft</option>
    <option value="bg-success" class="bg-success">Success</option>
    <option value="bg-success-soft" class="bg-success-soft">Success Soft</option>
    <option value="bg-warning" class="bg-warning">Warning</option>
    <option value="bg-warning-soft" class="bg-warning-soft">Warning Soft</option>
    <option value="bg-danger" class="bg-danger">Danger</option>
    <option value="bg-danger-soft" class="bg-danger-soft">Danger Soft</option>
    </select><br>
    <label class="label text-left">Scegli il colore dell\icona</label>
    <select id="iconTxColor" class="form-control">
    <option value="text-primary" class="bg-primary">Primary</option>
    <option value="text-primary-soft" class="bg-primary-soft">Primary Soft</option>
    <option value="text-secondary" class="bg-secondary">Secondary</option>
    <option value="text-secondary-soft" class="bg-secondary-soft">Secondary Soft</option>
    <option value="text-info" class="bg-info">Info</option>
    <option value="text-info-soft" class="bg-info-soft">Info Soft</option>
    <option value="text-success" class="bg-success">Success</option>
    <option value="text-success-soft" class="bg-success-soft">Success Soft</option>
    <option value="text-warning" class="bg-warning">Warning</option>
    <option value="text-warning-soft" class="bg-warning-soft">Warning Soft</option>
    <option value="text-danger" class="bg-danger">Danger</option>
    <option value="text-danger-soft" class="bg-danger-soft">Danger Soft</option>
    </select><br>
    <label>Scegli icona</label>
    <font-awesome-picker></font-awesome-picker>
    <label class="label">Titolo</label>
    <input class="form-control" id="title" value="  this.title  "><br>
    <label class="label">Testo</label>
    <input class="form-control" id="text" value="  this.text  ">;
</template>

<script>
    export default {
        name: "icon_widget_edit"
    }
</script>

<style scoped>

</style>
