<template>
    <div class="card">
        <div class="card-header">
            <div class="btn-group btn-group-justified" v-if="checked.length === 0">
                <button class="btn btn-outline-primary btn-sm" @click="readAll">
                    <i class="fa fa-fw fa-envelope"></i>
                    Segna tutti come letti
                </button>
            </div>
            <div class="btn-group btn-group-justified" v-else>
                <button class="btn btn-outline-primary-soft btn-sm" @click="readUnread(null)">
                    <i class="fa fa-fw fa-envelope-open"></i>
                    Segna come letti
                </button>
                <button class="btn btn-outline-danger btn-sm" @click="deleteNotification(null)">
                    <i class="fa fa-fw fa-trash-alt"></i>
                    Elimina
                </button>
            </div>

        </div>
        <div class="card-body">
            <table class="table table-striped table- table-bordered mt-1">
                <tr v-for="notification in notifications"
                    :class="{'font-weight-bolder' : notification.read_at == null}">
                    <td><input type="checkbox" :value="notification.id" v-model="checked"></td>
                    <td>{{ notification.data.action }}</td>
                    <td><i :class="notification.data.label"></i> {{ notification.data.message }}</td>
                    <td>{{ notification.created_at }}</td>
                    <td>
                        <div class="btn-group">
                            <div class="btn btn-transparent-dark" @click="readUnread(notification.id)">
                                <i class="far fa-envelope icon-badge-icon" v-if="notification.read_at == null"
                                   v-tooltip="'Segna come letta'"></i>
                                <i class="far fa-envelope-open icon-badge-icon" v-else
                                   v-tooltip="'Segna come da leggere'"></i>
                            </div>
                            <div class="btn btn-transparent-dark" v-tooltip="'Elimina'"
                                 @click="deleteNotification(notification.id)">
                                <i class="far fa-trash-alt icon-badge-icon"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    name: "inbox",

    prop: ['notifications'],
    components: {},


    data() {
        return {
            notifications: null,
            checked: [],
        }
    },
    methods: {
        readAll() {
            axios
                .post('/company/inbox/mark_all_as_read')
                .then(response => {
                    this.notifications = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        deleteNotification(notificationId) {
            axios
                .post('/company/inbox/delete', {'notification': notificationId})
                .then(response => {
                    this.notifications = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        readUnread(notification_ids = null) {
            if (notification_ids == null) {
                notification_ids = this.checked;
            }
            console.log(notification_ids);
            axios
                .post('/company/inbox/mark_as_read', {'notifications': notification_ids})
                .then(response => {
                    this.notifications = response.data
                    this.checked = []
                })
                .catch(error => {
                    console.log(error);
                })
        },

    },
    created() {
        this.notifications = this.$attrs.notifications
    },
    mounted() {

    }
}
</script>

<style scoped>

</style>
