<template>

    <div class="col-md-12">
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">Inserisci un nuovo certificato</h3>
            <div slot="body">
                <label>Certificato: </label>
                <input type="text" class="form-control" v-model="newCertificate.certificate"
                       placeholder="Nome certificato">
                <label class="mt-2">Link: </label>
                <input type="text" class="form-control" v-model="newCertificate.link" placeholder="Link al certificato">
                <label class="mt-2">Rilasciato da: </label>
                <input type="text" class="form-control" v-model="newCertificate.released_by"
                       placeholder="Azienda che ha rilasciato il certificato">
                <label class="mt-2">Ottenuto in data: <br>(formattazione: 31.12.2007)</label>
                <input type="text" class="form-control" v-model="newCertificate.acquired_at">
                <label class="mt-2">Data di scadenza: <br>(formattazione: 31.12.2007)</label>
                <input type="text" class="form-control" v-model="newCertificate.expiry_at">
            </div>
            <div slot="footer">
                <button class="btn btn-sm btn-primary" @click="saveAndCloseModal()">
                    Salva
                </button>
                <button class="btn btn-sm btn-danger" @click="closeModal()">
                    Chiudi
                </button>
            </div>
        </modal>
        <div>
            <span class="font-weight-bold">Certificati:</span>
            <table class="table table-striped table-bordered table-sm"
                   v-if="this.user !== null && this.user.certificates !== null">
                <tr v-for="certificate in this.user.certificates">
                    <td>
                        <a :href="'http://'+certificate.link" target="_blank" v-if="certificate.link !== null">
                            {{ certificate.certificate }}
                        </a>
                        <span v-else>{{ certificate.certificate }}</span>
                    </td>
                    <td>{{ certificate.released_by }}</td>
                    <td>{{ certificate.acquired_at }}</td>
                    <td>{{ certificate.expiry_at }}</td>
                    <td class="text-center "><i @click="deleteCertificate(certificate.id)" class="fa fa-trash-alt text-danger pointer"></i></td>
                </tr>
            </table>
            <span v-else class="text-danger-soft">Aggiungi la tua professione</span>
            <button class="btn btn-outline-primary btn-xs float-right" @click="openModal()"><i
                class="fa fa-plus"></i></button>
        </div>

    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
import modal from "../widget/modal";

export default {
    name: "certificate",
    components: {Multiselect, modal},
    data() {
        return {
            user: null,
            showModal: false,
            newCertificate: {}
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        closeModal() {
            this.showModal = false;
        },
        openModal() {
            this.showModal = true;
        },
        deleteCertificate(certificate_id) {
            axios
                .post('/api/v1/user_certificate_delete', {certificate: certificate_id, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.certificates = this.user.certificates;
                    this.showModal = false;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        saveAndCloseModal() {
            axios
                .post('/api/v1/user_certificates', {certificate: this.newCertificate, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.certificates = this.user.certificates;
                    this.newCertificate = {}
                    this.showModal = false;
                    Vue.$toast.open('Salvato correttamente');
                })
                .catch(error => {
                    console.log(error);
                })
            this.showModal = false;
        },
    },
    mounted() {

    }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
