<template>
    <div class="col-md-12" v-if="this.cv != null && !this.editor">
        <div v-if="numPages > 1" class="text-center">
            <i class="fa fa-backward" @click="pageBackward()"></i>
            {{ page }} / {{ numPages }}
            <i class="fa fa-forward" @click="pageForward()"></i>
            <!--                <button @click="$refs.pdf.print()">print</button>-->
        </div>
        <pdf
            :page="page"
            :src="this.cv"
            @num-pages="numPages = $event"
            @page-loaded="page = $event">
        </pdf>
        <div v-if="numPages > 1" class="text-center">
            <i class="fa fa-backward" @click="pageBackward()"></i>
            {{ page }} / {{ numPages }}
            <i class="fa fa-forward" @click="pageForward()"></i>
            <!--                <button @click="$refs.pdf.print()">print</button>-->
        </div>
        <button v-if="!this.editor && this.editMode" class="btn btn-outline-primary float-right mt-2" @click="editCv">
            Carica un nuovo CV
        </button>
    </div>
    <div class="col-md-12" v-else>
        <vue-dropzone
            ref="myVueDropzone"
            id="dropzone"
            :max-number-of-files='1'
            :options="dropzoneOptions"
            @vdropzone-success="fileAddedSuccess"></vue-dropzone>
        <button v-if="this.editor" class="btn btn-outline-danger float-right mt-2" @click="editCv">
            Torna indietro
        </button>
    </div>


</template>

<script>
import pdf from 'vue-pdf'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
    name: "cv_pdf",
    components: {pdf, vueDropzone: vue2Dropzone},
    data() {
        return {
            editor: false,
            editMode: false,
            user: null,
            cv: null,
            loading: true,
            page: 1,
            numPages: 0,
            dropzoneOptions: {
                url: '/api/v1/user_cv_upload/' + this.$attrs.authuser,
                thumbnailWidth: 150,
                acceptedFiles: 'application/pdf',
                maxFilesize: 5,
                dictDefaultMessage: "<i class='fa fa-upload'></i> Carica il tuo cv"
            }
        }
    },
    created() {
        this.editMode = this.$attrs.editmode == "1" ? true : false;
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
                this.cv = this.user.cv
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        pageBackward() {
            this.page = this.page == 1 ? this.page : this.page - 1
        },
        pageForward() {
            this.page = this.page == this.numPages ? this.page : this.page + 1
        },
        editCv() {
            this.editor = !this.editor
        },
        fileAddedSuccess(file, response) {
            axios
                .post('/api/v1/users/' + this.user.id)
                .then(response => {
                    this.user = response.data;
                    this.cv = this.user.cv
                    this.editor = !this.editor
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        }
    },
    mounted() {

    }
}

</script>
<style scoped>

</style>
