<template>

    <div class="col-md-12">
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">Inserisci un nuovo diploma</h3>
            <div slot="body">
                <label>Diploma di: </label>
                <input type="text" class="form-control" v-model="newDiploma.title"
                       placeholder="Nome diploma">
                <label class="mt-2">Scuola: </label>
                <input type="text" class="form-control" v-model="newDiploma.school" placeholder="Scuola">
                <label class="mt-2">Link: </label>
                <input type="text" class="form-control" v-model="newDiploma.link"
                       placeholder="Sito della scuola">
                <label class="mt-2">Data di inizio: <br>(formattazione: 31.12.2007)</label>
                <input type="text" class="form-control" v-model="newDiploma.begin_at">
                <label class="mt-2">Data di fine: <br>(formattazione: 31.12.2007)</label>
                <input type="text" class="form-control" v-model="newDiploma.end_at">
            </div>
            <div slot="footer">
                <button class="btn btn-sm btn-primary" @click="saveAndCloseModal()">
                    Salva
                </button>
                <button class="btn btn-sm btn-danger" @click="closeModal()">
                    Chiudi
                </button>
            </div>
        </modal>
        <div>
            <span class="font-weight-bold">Formazione:</span>
            <table class="table table-striped table-bordered table-sm"
                   v-if="this.user !== null && this.user.diplomas !== null">
                <tr v-for="diploma in this.user.diplomas">
                    <td>{{ diploma.title }}</td>
                    <td>
                        <a :href="'http://'+diploma.link" target="_blank" v-if="diploma.link !== null">
                            {{ diploma.school }}
                        </a>
                        <span v-else>{{ diploma.school }}</span>
                    </td>
                    <td>{{ diploma.begin_at }} - {{ diploma.end_at }}</td>
                    <td class="text-center "><i @click="deleteDiploma(diploma.id)" class="fa fa-trash-alt text-danger pointer"></i></td>
                </tr>
            </table>
            <span v-else class="text-danger-soft">Aggiungi il tuo percorso di studi</span>
            <button class="btn btn-outline-primary btn-xs float-right" @click="openModal()"><i
                class="fa fa-plus"></i></button>
        </div>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
import modal from "../widget/modal";

export default {
    name: "certificate",
    components: {Multiselect, modal},
    data() {
        return {
            user: null,
            showModal: false,
            newDiploma: {}
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        closeModal() {
            this.showModal = false;
        },
        openModal() {
            this.showModal = true;
        },
        deleteDiploma(diploma_id) {
            axios
                .post('/api/v1/user_diploma_delete', {diploma: diploma_id, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.diplomas = this.user.diplomas;
                    this.newDiploma = {};
                    this.showModal = false;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        saveAndCloseModal() {
            axios
                .post('/api/v1/user_diplomas', {diploma: this.newDiploma, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.diplomas = this.user.diplomas;
                    this.newDiploma= {}
                    this.showModal = false;
                    Vue.$toast.open('Salvato correttamente');
                })
                .catch(error => {
                    console.log(error);
                })
            this.showModal = false;
        },
    },
    mounted() {

    }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
