<template>

    <div class="col-md-12">
        <div v-if="!editor">
            <span class="font-weight-bold">Impiego:</span>
            <span v-if="this.user !== null && this.user.employment !== null">
                {{ this.user.employment }}
            </span>
            <span v-else class="text-danger-soft">Aggiungi il tipo di impiego che stai cercando</span>
            <button class="btn btn-outline-primary btn-xs float-right" @click="setEditingMode()"><i
                class="fa fa-edit"></i></button>
        </div>
        <div v-else>
            <span class="font-weight-bold">Impiego:</span>
            <multiselect  v-model="selectEmploymentValue" :options="options"
                         placeholder="Seleziona una tipo di impiego. . . " @input="store_employment()"></multiselect>
            <button class="btn btn-outline-danger btn-xs float-right mt-2" @click="setEditingMode()"><i
                class="fa fa-times"></i></button>
        </div>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    name: "employment",
    components: {Multiselect},
    data() {
        return {
            user: null,
            editor: false,
            employment: null,
            selectEmploymentValue: null,
            options: []
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        store_employment() {
            axios
                .post('/api/v1/user_employment', {employment: this.selectEmploymentValue, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.employment = this.user.employment;
                    this.editor = false;
                    Vue.$toast.open('Salvato correttamente');
                })
                .catch(error => {
                    console.log(error);
                })
        },
        get_employments() {
            axios
                .post('/api/v1/employments')
                .then(response => {
                    this.options = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        setEditingMode() {
            this.editor = !this.editor
        }
    },
    mounted() {
        this.get_employments()
    }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
