<template>

    <div class="col-md-12">
        <div v-if="!editor">
            <span class="font-weight-bold">Hobby:</span>
            <span v-if="this.user !== null && this.user.hobbies !== null && this.user.hobbies.length">
                <span v-for="(list, index) in this.user.hobbies">
                    <span class="badge badge-primary-soft mr-1">{{ list.hobby }}</span>
                    </span>
            </span>
            <span v-else class="text-danger-soft">Aggiungi i tuoi hobby</span>
            <button class="btn btn-outline-primary btn-xs float-right" @click="setEditingMode()"><i
                class="fa fa-edit"></i></button>
        </div>
        <div v-else>
            <span class="font-weight-bold">Hobby:</span>
            <multiselect v-model="selectHobbiesValue" :multiple="true"
                         tag-placeholder="Add this as new tag" :taggable="true" :options="options" @tag="addTag"
                         placeholder="Seleziona una hobby. . . "></multiselect>
            <div class="float-right">
                <button class="btn btn-outline-success btn-xs mt-2" @click="hobbyOnChange()"><i
                    class="fa fa-save"></i></button>
                <button class="btn btn-outline-danger btn-xs mt-2" @click="setEditingMode()"><i
                    class="fa fa-times"></i></button>
            </div>
        </div>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    name: "hobby",
    components: {Multiselect},
    data() {
        return {
            user: null,
            editor: false,
            hobbies: null,
            selectHobbiesValue: null,
            options: []
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
                this.selectHobbiesValue = this.user.hobbies.map(hobby => hobby.hobby)
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        addTag (newTag) {
            this.options.push(newTag)
            this.selectHobbiesValue.push(newTag)
        },
        hobbyOnChange() {
            axios
                .post('/api/v1/user_hobbies', {hobbies: this.selectHobbiesValue, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.hobbies = this.user.hobbies;
                    this.editor = false;
                    Vue.$toast.open('Salvato correttamente');
                })
                .catch(error => {
                    console.log(error);
                })
        },

        setEditingMode() {
            this.editor = !this.editor
        }
    },
    mounted() {

    }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
