<template>

    <div class="col-md-12">
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">Inserisci una nuova esperienza lavorativa</h3>
            <div slot="body">
                <label>Lavoro svolto: </label>
                <input type="text" class="form-control" v-model="newJobExperience.job"
                       placeholder="Lavoro svolto">
                <label class="mt-2">Azienda: </label>
                <input type="text" class="form-control" v-model="newJobExperience.company" placeholder="Azienda">
                <label class="mt-2">Link: </label>
                <input type="text" class="form-control" v-model="newJobExperience.link"
                       placeholder="Sito dell'azienda">
                <label class="mt-2">Data di inizio: <br>(formattazione: 31.12.2007)</label>
                <input type="text" class="form-control" v-model="newJobExperience.begin_at">
                <label class="mt-2">Data di fine: <br>(formattazione: 31.12.2007)</label>
                <input type="text" class="form-control" v-model="newJobExperience.end_at">
            </div>
            <div slot="footer">
                <button class="btn btn-sm btn-primary" @click="saveAndCloseModal()">
                    Salva
                </button>
                <button class="btn btn-sm btn-danger" @click="closeModal()">
                    Chiudi
                </button>
            </div>
        </modal>
        <div>
            <span class="font-weight-bold">Esperienza lavorativa:</span>
            <table class="table table-striped table-bordered table-sm"
                   v-if="this.user !== null && this.user.job_experiences !== null">
                <tr v-for="job_experience in this.user.job_experiences">
                    <td>{{ job_experience.job }}</td>
                    <td>
                        <a :href="'http://'+job_experience.link" target="_blank" v-if="job_experience.link !== null">
                            {{ job_experience.company }}
                        </a>
                        <span v-else>{{ job_experience.company }}</span>
                    </td>
                    <td>{{ job_experience.begin_at }} - {{ job_experience.end_at }}</td>
                    <td class="text-center "><i @click="deleteJobExperience(job_experience.id)" class="fa fa-trash-alt text-danger pointer"></i></td>
                </tr>
            </table>
            <button class="btn btn-outline-primary btn-xs float-right" @click="openModal()"><i
                class="fa fa-plus"></i></button>
        </div>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
import modal from "../widget/modal";

export default {
    name: "job-experience",
    components: {Multiselect, modal},
    data() {
        return {
            user: null,
            showModal: false,
            newJobExperience: {}
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        closeModal() {
            this.showModal = false;
        },
        openModal() {
            this.showModal = true;
        },
        deleteJobExperience(job_experience_id) {
            axios
                .post('/api/v1/user_job_experience_delete', {job_experience: job_experience_id, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.job_experiences = this.user.job_experiences;
                    this.newJobExperience = {};
                    this.showModal = false;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        saveAndCloseModal() {
            axios
                .post('/api/v1/user_job_experiences', {job_experience: this.newJobExperience, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.job_experiences = this.user.job_experiences;
                    this.newJobExperience = {}
                    this.showModal = false;
                    Vue.$toast.open('Salvato correttamente');
                })
                .catch(error => {
                    console.log(error);
                })
            this.showModal = false;
        },
    },
    mounted() {

    }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
