<template>

    <div class="col-md-12">
        <div v-if="!editor">
            <span class="font-weight-bold">Lingue:</span>
            <span v-if="this.user !== null && this.user.languages !== null && this.user.languages.length">
                <span v-for="(list, index) in this.user.languages">
                    <span class="badge badge-primary-soft mr-1">{{ list.name }} ({{ list.level }})</span>
                    </span>
            </span>
            <span v-else class="text-danger-soft">Aggiungi le lingue che conosci</span>
            <button class="btn btn-outline-primary btn-xs float-right" @click="setEditingMode()"><i
                class="fa fa-edit"></i></button>
        </div>
        <div v-else>
            <span class="font-weight-bold">Lingue:</span>
            <multiselect v-model="selectLanguagesValue" :multiple="true" @select="onSelect"
                         :options="options"
                         @remove="onRemove"
                         placeholder="Seleziona una lingua. . . ">
            </multiselect>
            <div class="float-right">
                <button class="btn btn-outline-success btn-xs mt-2" @click="languageOnChange()"><i
                    class="fa fa-save"></i></button>
                <button class="btn btn-outline-danger btn-xs mt-2" @click="setEditingMode()"><i
                    class="fa fa-times"></i></button>
            </div>
        </div>
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">{{ selectLanguage }}</h3>
            <div slot="body">
                <multiselect v-model="lastLevel"
                             :close-on-select="true"
                             track-by="lang"
                             :options="levelOptions"
                             placeholder="Seleziona il livello. . . ">
                </multiselect>
            </div>
            <div slot="footer">
                <button class="btn btn-sm btn-primary" @click="saveAndCloseModal()">
                    Salva
                </button>
                <button class="btn btn-sm btn-danger" @click="closeModal()">
                    Chiudi
                </button>
            </div>
        </modal>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
import modal from "../widget/modal";

export default {
    name: "language",
    components: {Multiselect, modal},
    data() {
        return {
            user: null,
            editor: false,
            languages: null,
            selectLanguagesValue: null,
            selectLanguage: null,
            selectLevel: [],
            lastLevel: null,
            options: [],
            showModal: false,
            levelOptions: [],
            postValues: []
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
                this.selectLanguagesValue = this.user.languages.map(language => language.name)
                let i;
                for (i = 0; i < this.user.languages.length; i++){
                    this.postValues.push([this.user.languages[i].name, this.user.languages[i].level])
                }
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        onRemove(value) {
            for( var i = 0; i < this.postValues.length; i++){
                if ( this.postValues[i][0] === value) {
                    this.postValues.splice(i, 1);
                }
            }
        },
        onSelect(value) {
            this.selectLanguage = value
            this.showModal = true
        },
        saveAndCloseModal() {
            this.postValues.push([this.selectLanguage, this.lastLevel])
            this.selectLanguage = null;
            this.lastLevel = null;
            this.showModal = false;
        },
        closeModal() {
            this.showModal = false
        },
        getLanguages() {
            axios
                .post('/api/v1/languages')
                .then(response => {
                    this.options = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        getLevel() {
            axios
                .post('/api/v1/levels')
                .then(response => {
                    this.levelOptions = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        languageOnChange() {
            axios
                .post('/api/v1/user_languages', {lang: this.postValues, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.languages = this.user.languages;
                    this.editor = false;
                    this.lastLevel = null
                    this.selectLanguage = null
                    Vue.$toast.open('Salvato correttamente');
                })
                .catch(error => {
                    console.log(error);
                })
        },

        setEditingMode() {
            this.editor = !this.editor
        }
    },
    mounted() {
        this.getLanguages()
        this.getLevel()
    }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
