<template>

    <div class="col-md-12">
        <div v-if="!editor">
            <span class="font-weight-bold">Patenti:</span>
            <span v-if="this.user !== null && this.user.licenses !== null && this.user.licenses.length">
                <span v-for="(list, index) in this.user.licenses">
                    <span class="badge badge-primary-soft mr-1">{{ list.name }}</span>
                    </span>
            </span>
            <span v-else class="text-danger-soft">Aggiungi le tue patenti</span>
            <button class="btn btn-outline-primary btn-xs float-right" @click="setEditingMode()"><i
                class="fa fa-edit"></i></button>
        </div>
        <div v-else>
            <span class="font-weight-bold">Patenti:</span>
            <multiselect v-model="selectLicensesValue" :multiple="true" :options="options"
                         tag-placeholder="Add this as new tag"
                         :taggable="false" placeholder="Seleziona una patente. . . "></multiselect>
            <div class="float-right">
                <button class="btn btn-outline-success btn-xs mt-2" @click="licenseOnChange()"><i
                    class="fa fa-save"></i></button>
                <button class="btn btn-outline-danger btn-xs mt-2" @click="setEditingMode()"><i
                    class="fa fa-times"></i></button>
            </div>
        </div>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    name: "license",
    components: {Multiselect},
    data() {
        return {
            user: null,
            editor: false,
            licenses: null,
            selectLicensesValue: null,
            options: []
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
                this.selectLicensesValue = this.user.licenses.map(license => license.name)
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        licenseOnChange() {
            axios
                .post('/api/v1/user_licenses', {licenses: this.selectLicensesValue, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.licenses = this.user.licenses;
                    this.editor = false;
                    Vue.$toast.open('Salvato correttamente');
                })
                .catch(error => {
                    console.log(error);
                })
        },
        get_licenses() {
            axios
                .post('/api/v1/licenses')
                .then(response => {
                    this.options = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        setEditingMode() {
            this.editor = !this.editor
        }
    },
    mounted() {
        this.get_licenses()
    }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
