<template>

    <div class="col-md-12">
        <div v-if="!editor">
            <span class="font-weight-bold">Percentuale di occupazione:</span>
            <span v-if="this.user !== null && this.user.percentage !== null">
                {{ this.user.percentage }}
            </span>
            <span v-else class="text-danger-soft">Scegli la percentuale di occupazione</span>
            <button class="btn btn-outline-primary btn-xs float-right" @click="setEditingMode()"><i
                class="fa fa-edit"></i></button>
        </div>
        <div v-else>
            <span class="font-weight-bold">Percentuale di occupazione:</span>
            <multiselect v-model="selectPercentageValue" :multiple="false" :options="options"
                         :taggable="false" placeholder="Seleziona una percentuale di occupazione. . . "></multiselect>
            <div class="float-right">
                <button class="btn btn-outline-success btn-xs mt-2" @click="percentageOnChange()"><i
                    class="fa fa-save"></i></button>
                <button class="btn btn-outline-danger btn-xs mt-2" @click="setEditingMode()"><i
                    class="fa fa-times"></i></button>
            </div>
        </div>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    name: "percentage",
    components: {Multiselect},
    data() {
        return {
            user: null,
            editor: false,
            percentage: null,
            selectPercentageValue: null,
            options: []
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
                this.selectPercentageValue = this.user.percentage
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        percentageOnChange() {
            axios
                .post('/api/v1/user_percentage', {percentage: this.selectPercentageValue, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.percentage = this.user.percentage;
                    this.editor = false;
                    Vue.$toast.open('Salvato correttamente');
                })
                .catch(error => {
                    console.log(error);
                })
        },
        get_percentages() {
            axios
                .post('/api/v1/percentages')
                .then(response => {
                    this.options = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        setEditingMode() {
            this.editor = !this.editor
        }
    },
    mounted() {
        this.get_percentages()
    }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
