<template>

    <div class="col-md-12">
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">Esperienza come {{ this.profession }}</h3>
            <div slot="body">
                <input type="number" class="form-control" v-model="experienceYears" placeholder="Anni di esperienza?">
            </div>
            <div slot="footer">
                <button class="btn btn-sm btn-primary" @click="saveAndCloseModal()">
                    Salva
                </button>
                <button class="btn btn-sm btn-danger" @click="closeModal()">
                    Chiudi
                </button>
            </div>
        </modal>
        <div v-if="!editor">
            <span class="font-weight-bold">Professione:</span>
            <span v-if="this.user !== null && this.user.profession !== null">
                {{ this.user.profession }} con {{ this.user.experience }} anni di esperienza
            </span>
            <span v-else class="text-danger-soft">Aggiungi la tua professione</span>
            <button class="btn btn-outline-primary btn-xs float-right" @click="setEditingMode()"><i
                class="fa fa-edit"></i></button>
        </div>
        <div v-else>
            <span class="font-weight-bold">Professione:</span>
            <multiselect  v-model="selectProfessionValue" :options="options"
                         placeholder="Seleziona una professione. . . " @input="store_profession()"></multiselect>
            <button class="btn btn-outline-danger btn-xs float-right mt-2" @click="setEditingMode()"><i
                class="fa fa-times"></i></button>
        </div>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
import modal from "../widget/modal";
export default {
    name: "profession",
    components: {Multiselect, modal},
    data() {
        return {
            user: null,
            editor: false,
            showModal: false,
            profession: null,
            experienceYears: null,
            selectProfessionValue: null,
            options: []
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        closeModal() {
            this.showModal = false;
        },
        saveAndCloseModal() {
            axios
                .post('/api/v1/user_profession', {experience: this.experienceYears, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.experienceYears = this.user.experience;
                    this.showModal = false;
                    this.editor = false;
                    Vue.$toast.open('Salvato correttamente');
                })
                .catch(error => {
                    console.log(error);
                })
            this.showModal = false;
        },
        store_profession() {
            axios
                .post('/api/v1/user_profession', {profession: this.selectProfessionValue, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.profession = this.user.profession;
                    this.experienceYears = this.user.experience;
                    this.showModal = true;
                    this.editor = false;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        get_professions() {
            axios
                .post('/api/v1/professions')
                .then(response => {
                    this.options = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        setEditingMode() {
            this.editor = !this.editor
        }
    },
    mounted() {
        this.get_professions()

    }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
