<template>
    <div class="col-md-12">
        <div>
            <span class="font-weight-bold">Stai cercando lavoro?</span>
            <span class="float-right">
                <toggle-button
                    :value="this.searchingForWork"
                    @change="searchingForWorkChange"
                    :sync="true"
                    :labels="{checked: 'Si', unchecked: 'No'}"
                />
            </span>
        </div>
    </div>

</template>

<script>
import {ToggleButton} from 'vue-js-toggle-button'

export default {
    name: "search-work",
    components: {ToggleButton},
    data() {
        return {
            user: null,
            searchingForWork: null,
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
                this.searchingForWork = this.user.looking_for_new_job ? true : false
                Vue.$toast.open('Salvato correttamente');
            })
            .catch(error => {
                console.log(error);
            })
            .finally()
    },
    methods: {
        searchingForWorkChange() {
            axios
                .post('/api/v1/looking_for_new_job', {user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.searchingForWork = this.user.looking_for_new_job ? true : false
                })
                .catch(error => {
                    console.log(error);
                })
        },
    },
    mounted() {

    }
}

</script>
<style scoped>

</style>
