<template>

    <div class="col-md-12">
        <div v-if="!editor">
            <span class="font-weight-bold">Skills:</span>
            <span v-if="this.user !== null && this.user.skills !== null && this.user.skills.length">
                <span v-for="(list, index) in this.user.skills">
                    <span class="badge badge-primary-soft mr-1">{{ list.name }}</span>
                    </span>
            </span>
            <span v-else class="text-danger-soft">Aggiungi le tue skills</span>
            <button class="btn btn-outline-primary btn-xs float-right" @click="setEditingMode()"><i
                class="fa fa-edit"></i></button>
        </div>
        <div v-else>
            <span class="font-weight-bold">Skills:</span>
            <multiselect v-model="selectSkillsValue" :multiple="true" :options="options"
                         tag-placeholder="Aggiungi una skill non presente nella lista..." @tag="addTag"
                         :taggable="true" placeholder="Seleziona una skill. . . "></multiselect>
            <div class="float-right">
                <button class="btn btn-outline-success btn-xs mt-2" @click="skillOnChange()"><i
                    class="fa fa-save"></i></button>
                <button class="btn btn-outline-danger btn-xs mt-2" @click="setEditingMode()"><i
                    class="fa fa-times"></i></button>
            </div>
        </div>
    </div>

</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    name: "skills",
    components: {Multiselect},
    data() {
        return {
            user: null,
            editor: false,
            skills: null,
            selectSkillsValue: null,
            options: []
        }
    },
    created() {
        axios
            .post('/api/v1/users/' + this.$attrs.authuser)
            .then(response => {
                this.user = response.data;
                this.selectSkillsValue = this.user.skills.map(skill => skill.name)
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    },
    methods: {
        skillOnChange() {
            axios
                .post('/api/v1/user_skills', {skills: this.selectSkillsValue, user: this.user.id})
                .then(response => {
                    this.user = response.data;
                    this.skills = this.user.skills;
                    this.editor = false;
                    Vue.$toast.open('Salvato correttamente');
                })
                .catch(error => {
                    console.log(error);
                })
        },
        addTag (newTag) {
            this.options.push(newTag)
            this.selectSkillsValue.push(newTag)
        },
        get_skills() {
            axios
                .post('/api/v1/skills')
                .then(response => {
                    this.options = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        setEditingMode() {
            this.editor = !this.editor
        }
    },
    mounted() {
        this.get_skills()
    }
}

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
