<template>
    <div class="row">
        <div class="col-md-12">
            <vue-editor v-model="page_content" @focus="set_content"></vue-editor>
        </div>
    </div>


</template>

<script>
import {VueEditor} from "vue2-editor";

export default {
    name: "presentation",
    components: {VueEditor},
    data() {
        return {
            company: null,
            page: null,
            page_content: '<h2>ciao pu</h2>'
        }
    },
    methods: {
        set_content() {
            this.page_content = '<h2>Ciao puua</h2>'
        }
    },
    created() {
        this.company = this.$attrs.company
        this.page = this.$attrs.page
    },

    mounted() {
        // this.page_content = this.page.content
    }
}
</script>

<style scoped>

</style>
