<template>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="search_companies" placeholder="Cerca azienda. . ."
                           v-model="searchKeyword" v-on:keyup="filter"/>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <multiselect v-model="selectCategoryValue" :options="options" placeholder="Seleziona una categoria. . . " select-label="Seleziona" deselectLabel="Deseleziona" @input="filter"></multiselect>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <multiselect v-model="selectDistrictValue" :options="districts" placeholder="Seleziona un distretto. . . " select-label="Seleziona" deselectLabel="Deseleziona" @input="filter"></multiselect>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="text-center" v-if="loading">
                    <i class="fa fa-spinner fa-spin fa-4x"></i>
                </div>
                <div v-else>

                    <div v-if="companies_list.length" class="row">
                        <div class="col-md-3 col-xl-4 mb-5" v-for="company in companies_list"
                             v-if="companies_list.length">
                            <a class="card post-preview lift " :href="'/companies/'+ company.id +''">
                                <img class="card-img-top img-fluid" :src="company.logo" :alt="company.name"/>
                                <div class="card-body">
                                    <h5 class="card-title">{{ company.name }}</h5>
                                    <p class="card-text">{{ company.category }}</p>
                                </div>
                                <div class="card-footer">
                                    <div class="post-preview-meta">
                                        <div class="post-preview-meta-details ">
                                            <div class="post-preview-meta-details-name ">
                                                <a v-if="company.website" :href="company.website" target="_blank"
                                                   class="btn btn-success-soft btn-xs">
                                                    Web Site</a>
                                                <a :href="'/companies/'+ company.id +''"
                                                   class="btn btn-primary-soft btn-xs">Visita
                                                    su Tigit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 alert alert-info-soft" v-else>
                        Non abbiamo trovato aziende con questi criteri di ricerca
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    name: "companies",
    components: {Multiselect},
    data() {
        return {
            searchKeyword: "",
            companies_list: null,
            loading: true,
            selectCategoryValue: null,
            selectDistrictValue: null,
            options: [],
            districts: [],
        }
    },
    methods: {
        get_categories() {
            axios
                .post('/api/v1/companies/categories')
                .then(response => {
                    this.options = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        get_districts() {
            axios
                .post('/api/v1/companies/districts')
                .then(response => {
                    this.districts = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        },
        filter() {
            this.loading = true;
            axios
                .post('/api/v1/companies/filter', {catFilter: this.selectCategoryValue, filter: this.searchKeyword, district: this.selectDistrictValue})
                .then(response => {
                    this.companies_list = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        }
    },
    mounted() {
        this.get_categories();
        this.get_districts();
        axios
            .post('api/v1/companies')
            .then(response => {
                this.companies_list = response.data;
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
