<template>
    <div class="row">
        <div class="col-md-12" v-if="loading">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
        </div>
        <div class="col-md-12" v-else>
            <div class="row">
                <div class="col-md-4">
                    <img :src="company.logo" class="img img-responsive" width="100%"/>
                </div>
                <div class="col-md-4">
                    <iframe
                        width="100%"
                        height="250"
                        frameborder="0" style="border:0"
                        :src="'https://www.google.com/maps/embed/v1/place?key=AIzaSyA1RDD8DWRczIdSUF8x_vWYsS6ZJF_rn60&q='+company.address"
                        allowfullscreen>
                    </iframe>
                </div>
                <div class="col-md-4">
                    <div class="rating-block p-1 mb-1">
                        <table class="table table-borderless table-sm">
                            <tr>
                                <th>{{ company.name }}</th>
                            </tr>
                            <tr>
                                <th>{{ company.address }}</th>
                            </tr>
                            <tr>
                                <th>
                                    <a v-if="company.phone" :href="'tel:'+company.phone">{{ company.phone }}</a>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <a v-if="company.website" :href="company.website" target="_blank">{{
                                            company.website
                                        }}</a>
                                </th>
                            </tr>
                            <tr>
                                <th>{{ company.category }}</th>
                            </tr>
                        </table>
                    </div>
                    <!--                    <div class="row">-->
                    <!--                        <div class="col-md-12">-->
                    <!--                            <div class="rating-block">-->
                    <!--                                <h4>Persone che seguono</h4>-->
                    <!--                                <h4 class="mt-3">{{ company.followers_nr }}</h4>-->

                    <!--                                <button v-if="user !== 0 && !this.isFollower" class="btn btn-success btn-xs"-->
                    <!--                                        @click="follow"><i class="fa fa-plus"></i> Segui-->
                    <!--                                </button>-->
                    <!--                                <button v-else-if="user !== 0 && this.isFollower" class="btn btn-warning btn-xs"-->
                    <!--                                        @click="unfollow">Smetti di segui-->
                    <!--                                </button>-->
                    <!--                                <small v-else class="text-danger font-italic">Devi fare il login per seguire</small>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="row mt-1">
                        <div class="col-md-12">
                            <div class="rating-block">
                                <h4>Voto medio dell'utenza</h4>
                                <h2 class="bold mb-0">{{ company.ratings_avg }} <small>/ 5</small></h2>
                                <small class="font-italic mt-0 float-right">{{ company.ratings_nr }} voto/i</small>

                                <h4 class="mt-3">Il tuo voto</h4>

                                <star-rating v-if="user !== 0" @rating-selected="setRating" :star-size="20"
                                             :rating="ratings.rate" :show-rating="false"></star-rating>
                                <small v-else class="text-danger font-italic">Devi fare il login per effettuare il
                                    voto</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="py-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" v-if="company.events.length">
                            <h1>Eventi:</h1>
                            <ul class="list-group">
                                <li class="list-group-item" v-for="event in company.events">
                                    <a :href="'/events/'+event.id">{{ event.name }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4" v-if="company.restaurants.length">
                            <h1>Ristoranti:</h1>
                            <ul class="list-group">
                                <li class="list-group-item" v-for="restaurant in company.restaurants">
                                    <a :href="'/booking/'+restaurant.id">{{ restaurant.name }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4" v-if="company.public_job_offers.length">
                            <h1>Posti vacanti:</h1>
                            <ul class="list-group">
                                <li class="list-group-item" v-for="job_offer in company.public_job_offers">
                                    <a :href="'/job_offer/'+job_offer.id">{{ job_offer.title }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
<!--            <h1>T-VEDO</h1>-->
<!--            <section class="py-5 border-top" :class="{'bg-white': index % 2 === 0, 'bg-light': index % 2 !== 0 }" v-for="(page,index) in company.pages">-->
<!--                <div class="container">-->
<!--                    <component :is="page.template.template" :page="page" :presmode="true"></component>-->
<!--                </div>-->
<!--            </section>-->

        </div>
    </div>

</template>

<script>

import StarRating from "vue-star-rating";

export default {
    name: "company-detail",

    prop: ['companyId'],
    components: {StarRating},
    data() {
        return {
            loading: true,
            company: null,
            company_id: null,
            ratings: null,
            user: null,
            isFollower: false
        }
    },
    methods: {
        checkFollow: function (user) {
            this.company.followers.map(function (value) {
                if (value.user_id == this.user)
                    this.isFollower = true;
            }.bind(this))
        },
        follow: function () {
            axios
                .post('/api/v1/follow_company', {company: this.company_id, user: this.user})
                .then(response => {
                    this.isFollower = true
                    this.getCompany()
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        },
        unfollow: function () {
            axios
                .post('/api/v1/unfollow_company', {company: this.company_id, user: this.user})
                .then(response => {
                    this.isFollower = false
                    this.getCompany()
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        },
        setRating: function (rating) {
            axios
                .post('/api/v1/rate_company', {company: this.company_id, rating: rating, user: this.user})
                .then(response => {
                    this.getCompany()
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        },
        getCompany() {
            axios
                .post('/api/v1/company/' + this.company_id, {user: this.user})
                .then(response => {
                    this.company = response.data;
                    this.checkFollow(this.user)
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)

        },
        getRating() {
            axios
                .post('/api/v1/ratings', {company: this.company_id, user: this.user})
                .then(response => {
                    this.ratings = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        },
    },
    created() {
        this.company_id = this.$attrs.companyid;
        this.user = this.$attrs.user;
    },
    mounted() {
        this.getCompany()
        this.getRating()
    }
}
</script>

<style scoped>
.rating-block {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px 15px 20px 15px;
    border-radius: 3px;
}
</style>
