<template>
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="input-group">
                    <input type="text" class="form-control" name="search_companies" placeholder="Cerca azienda. . ."
                           v-model="searchKeyword" v-on:keyup="searchFilter('search')"/>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <multiselect v-model="selectDistrict" :options="options"
                                 placeholder="Seleziona un distretto. . . "
                                 @input="searchFilter('district')"></multiselect>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <multiselect v-model="selectCategory" :options="optionsCategory"
                                 placeholder="Seleziona tipo di azienda. . . "
                                 @input="searchFilter('category')"></multiselect>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="text-center" v-if="loading">
                    <i class="fa fa-spinner fa-spin fa-4x"></i>
                </div>
                <div v-else>

                    <div v-if="companies_list_filtered.length" class="row">
                        <div class="col-md-3 mb-5" v-for="company in companies_list_filtered"
                             v-if="companies_list_filtered.length">
                            <a class="card post-preview lift ">
                                <div class="card-img-top border-bottom">
                                    <img class="img-responsive" :src="company.logo" width="100%"
                                         :alt="company.name"/>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ company.name }}</h5>
                                    <p class="card-text">{{ company.category }}</p>
                                    <p class="card-text">{{ company.address }}</p>
                                    <p class="card-text">{{ company.district }}</p>
                                </div>
                                <div class="card-footer">
                                    <div class="post-preview-meta">
                                        <div class="post-preview-meta-details ">
                                            <div class="post-preview-meta-details-name ">
                                                <a v-if="company.link" :href="company.link" target="_blank"
                                                   class="btn btn-success-soft btn-xs">
                                                    Web Site</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 alert alert-info-soft" v-else>
                        Non abbiamo trovato aziende con questi criteri di ricerca
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    name: "companies",
    components: {Multiselect},
    data() {
        return {
            searchKeyword: "",
            companies_list: null,
            companies_list_filtered: [],
            loading: false,
            selectDistrict: null,
            selectCategory: null,
            options: [],
            optionsCategory: [],
        }
    },
    methods: {
        searchFilter(filter) {
            if (this.searchKeyword === "" && this.selectDistrict === null && this.selectCategory === null) {
                this.companies_list_filtered = this.companies_list
            } else if (this.searchKeyword === "" && this.selectDistrict === null && this.selectCategory !== null) {
                this.companies_list_filtered = this.companies_list.filter(company =>
                    company.category === this.selectCategory
                );
            } else if (this.searchKeyword === "" && this.selectDistrict !== null && this.selectCategory === null) {
                this.companies_list_filtered = this.companies_list.filter(company =>
                    company.district === this.selectDistrict
                );
            } else if (this.searchKeyword === "" && this.selectDistrict !== null && this.selectCategory !== null) {
                this.companies_list_filtered = this.companies_list.filter(company =>
                    company.district === this.selectDistrict &&
                    company.category === this.selectCategory
                );
            } else if (this.searchKeyword !== "" && this.selectDistrict === null && this.selectCategory === null) {
                this.companies_list_filtered = this.companies_list.filter(company =>
                    company.name.toLowerCase().includes(this.searchKeyword.toLowerCase())
                );
            } else if (this.searchKeyword !== "" && this.selectDistrict === null && this.selectCategory !== null) {
                this.companies_list_filtered = this.companies_list.filter(company =>
                    company.name.toLowerCase().includes(this.searchKeyword.toLowerCase()) &&
                    company.category === this.selectCategory
                );
            } else if (this.searchKeyword !== "" && this.selectDistrict !== null && this.selectCategory === null) {
                this.companies_list_filtered = this.companies_list.filter(company =>
                    company.name.toLowerCase().includes(this.searchKeyword.toLowerCase()) &&
                    company.district === this.selectDistrict
                );
            } else if (this.searchKeyword !== "" && this.selectDistrict !== null && this.selectCategory !== null) {
                this.companies_list_filtered = this.companies_list.filter(company =>
                    company.name.toLowerCase().includes(this.searchKeyword.toLowerCase()) &&
                    company.district === this.selectDistrict &&
                    company.category === this.selectCategory
                );
            }
        },
        get_categories () {
            axios
                .post('api/v1/get_coupon_categories')
                .then(response => {
                    this.optionsCategory = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
                .finally()
        },
        get_districts () {
            axios
                .post('api/v1/get_coupon_districts')
                .then(response => {
                    this.options = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
                .finally()
        },
        get_companies () {
            axios
                .post('api/v1/get_coupon_companies')
                .then(response => {
                    this.companies_list = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.companies_list_filtered = this.companies_list)
        }
    },

    mounted() {
        this.get_categories()
        this.get_districts()
        this.get_companies()
    }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>

</style>
