<template>
    <div id="app">
        <div class="row" v-if="company.restaurants.length">
            <div class="col-md-12" v-if="loading">
                <div class="text-center">
                    <i class="fa fa-spinner fa-spin fa-4x"></i>
                </div>
            </div>
            <div class="col-md-12" v-else>
                <div class="row">
                    <div class="col-md-4 d-inline">
                        <select v-model="selectedRestaurant" class="form-control form-control-sm"
                                @change="setRestaurant()">
                            <option v-for="restaurant in company.restaurants" v-bind:value="restaurant.id">
                                {{ restaurant.name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4 d-inline">
                        <date-picker type="date" v-model="bookingDate" @change="changeBookingDate" valueType="format"
                                     format="DD-MM-YYYY"></date-picker>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 d-inline" v-if="hours.length">
                        <vue-slider v-model="bookingHours"
                                    :adsorb="true"
                                    :data="hours"
                                    :marks="true"
                                    @change="changeBookingTime">
                        </vue-slider>
                    </div>
                    <div class="col-md-12 d-inline alert alert-danger" v-else>
                        CHIUSO
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="card">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li v-for="stat in status" class="nav-item" :role="stat.label"
                                    @click.stop.prevent="set_status(stat.id)">
                                    <a class="nav-link" :class="{'active show':stat.id === selectedStatus}"
                                       :id="stat.label"
                                       data-toggle="tab" :href="'#'+stat.label"
                                       role="tab" :aria-controls="stat.id" aria-selected="true">
                                        <i class="fa" :class="'fa-'+stat.icon+' '+stat.color"></i> {{ stat.name }}
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show">
                                    <div class="row card-body" v-if="bookingDataLoading">
                                        <div class="col-md-12  text-center">
                                            <i class="fa fa-4x fa-spin fa-spinner"></i>
                                        </div>
                                    </div>
                                    <div class="row card-body" v-else>
                                        <div class="col-md-12 border p-1 mb-1 booking" :id="'booking_'+booking.id"
                                             v-for="booking in bookingData" v-on:click="selectBooking(booking)">
                                        <span class="font-weight-bold">{{ booking.firstname }} {{ booking.lastname }}
                                            <div class="float-right">
                                                <i class="fa fa-info-circle text-primary mr-2"
                                                   v-if="selectedBooking !== null && selectedBooking.id == booking.id"
                                                   v-on:click="showInformation(booking)"></i>
                                                <i class="fa fa-times text-danger"
                                                   v-if="selectedBooking !== null && selectedBooking.id == booking.id"
                                                   v-on:click="showModalReject = true"></i>

                                            </div>
                                        </span>
                                            <table class="table table-responsive-sm mb-0">
                                                <tr>
                                                    <td><i class="fa fa-users"></i> {{ booking.people_nr }}</td>
                                                    <td><i class="fa fa-clock"></i> {{ booking.booking_time }}</td>
                                                    <td><i class="fa fa-calendar-day"></i> {{ booking.booking_date }}
                                                    </td>
                                                    <td>
                                                        <i class="fa fa-chess-rook"></i>
                                                        <span v-if="booking.room">{{ booking.room.name }}</span>
                                                        <span v-else>-</span>
                                                    </td>
                                                </tr>
                                            </table>
                                            <small>
                                                {{ booking.message }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-4">
                            <ul class="nav nav-tabs" id="room_nav" role="room_content">
                                <li v-for="room in selectedRestaurantObj.rooms" class="nav-item" :role="room.name"
                                    @click.stop.prevent="set_room(room.id)">
                                    <a class="nav-link" :class="{'active show':room.id === selectedRoom}"
                                       :id="room.name"
                                       data-toggle="tab" :href="'#'+room.name"
                                       role="tab" :aria-controls="room.id" aria-selected="true">
                                        {{ room.name }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content bg-white" id="room_content">
                            <div class="tab-pane fade active show">
                                <div class="row card-body" v-if="roomLoading">
                                    <div class="col-md-12  text-center">
                                        <i class="fa fa-4x fa-spin fa-spinner"></i>
                                    </div>
                                </div>
                                <div class="row card-body" v-else>
                                    <div class="col-md-12 ">
                                        <div class="row">
                                            <div class="col-md-2 border ml-4 p-5 mb-5 booking-table"
                                                 v-on:click="selectTable(table.table, table.reserved)"
                                                 :class="'shape_'+table.shape.name && {'reserved':table.reserved != null}"
                                                 v-for="table in tables">
                                                <div v-if="table.reserved !== null">
                                                    {{ table.table.name }}<br>
                                                    {{ table.reserved.firstname }} {{ table.reserved.lastname }} (<i
                                                    class="fa fa-users"></i>
                                                    {{ table.reserved.people_nr }})
                                                    {{ formatReservationTime(table.reserved.reserved_start) }}


                                                </div>
                                                <div v-else>
                                                    {{ table.table.name }}<br>
                                                    <i class="fa fa-users"></i>
                                                    {{ table.table.max_capacity }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="alert alert-danger">Non hai ancora dei ristoranti attivi</div>
        </div>
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">Seleziona una riservazione!</h3>
            <div slot="body">
                Prima di scegliere il tavolo bisogna selezionare una riservazione!
            </div>
            <div slot="footer">
                <button class="btn btn-sm btn-danger" @click="closeModal()">
                    Chiudi.
                </button>
            </div>
        </modal>
        <modal v-if="showModalReject" @close="showModalReject = false">
            <h3 slot="header">Stai rifiutando la riservazione!</h3>
            <div slot="body">
                Sei sicuro di voler rifiutare la riservazione di {{ this.selectedBooking.lastname }} del
                {{ this.selectedBooking.booking_date }} alle {{ this.selectedBooking.booking_time }}?
            </div>
            <div slot="footer">
                <button class="btn btn-sm btn-danger" @click="rejectReservation()">
                    Si, cancella la riservazione.
                </button>
                <button class="btn btn-sm btn-danger" @click="showModalReject = false">
                    Chiudi.
                </button>
            </div>
        </modal>
        <modal v-if="showReservationInfo" @close="showReservationInfo = false">
            <h3 slot="header">Informazioni riservazione</h3>
            <div slot="body">
                <table class="table table-responsive table-striped table-hover">
                    <tr>
                        <th>Nome</th>
                        <td>{{ this.reservationInfo.firstname }} {{ this.reservationInfo.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Nr. Ospiti</th>
                        <td>{{ this.reservationInfo.people_nr }}</td>
                    </tr>
                    <tr>
                        <th>Contatti</th>
                        <td>{{ this.reservationInfo.phone }} - {{ this.reservationInfo.email }}</td>
                    </tr>
                    <tr>
                        <th>Orario</th>
                        <td>{{ formatReservationInfo(this.reservationInfo.booking_datetime) }}</td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td>{{ this.reservationInfo.message }}</td>
                    </tr>
                </table>
            </div>
            <div slot="footer">
                <button class="btn btn-sm btn-danger" @click="showReservationInfo = false">
                    Chiudi.
                </button>
            </div>
        </modal>
    </div>
</template>

<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'
import moment from 'moment'
// import draggable from 'vuedraggable'
import modal from "../widget/modal";


export default {
    name: "booking-management",
    prop: ['companyId'],
    components: {DatePicker, VueSlider, modal},
    data() {
        return {
            loading: true,
            showModalReject: false,
            showReservationInfo: false,
            bookingDataLoading: true,
            roomLoading: true,
            company: null,
            company_id: null,
            bookingDate: moment().format('DD-MM-Y'),
            bookingHours: moment().format('H:mm'),
            selectedRestaurant: null,
            selectedRestaurantObj: null,
            status: null,
            hours: null,
            selectedStatus: null,
            selectedRoom: null,
            selectedRoomObj: null,
            bookingData: null,
            assignTableObj: null,
            showModal: false,
            selectedBooking: null,
            tables: null,
            reservationInfo: null,
        }
    },
    methods: {
        formatReservationTime(date) {
            return moment(date).format('H:mm')
        },
        formatReservationInfo(date) {
            return moment(date).format('DD-MM-Y H:mm')
        },
        selectBooking(booking) {
            this.selectedBooking = booking
            $(".booking").each(function () {
                $(this).removeClass('booking_selected')
            })
            $("#booking_" + booking.id).addClass('booking_selected');

            this.bookingDate = moment(booking.booking_date, 'DD.MM.Y').format('DD-MM-Y')
            this.bookingHours = booking.booking_time
            this.changeBookingDate(false)
        },

        showInformation(reservation){
            this.reservationInfo = reservation
            this.showReservationInfo = true
        },

        selectTable(table, reserved = false) {
            if (this.selectedBooking === null && reserved) {
                this.showInformation(reserved)
            } else if (this.selectedBooking === null && !reserved) {
                this.showModal = true
            } else {
                axios
                    .post('/api/v1/assign_table/', {booking: this.selectedBooking.id, table: table.id})
                    .then(response => {
                        // this.selectedRestaurantObj = response.data;
                        // this.selectedRoom = this.selectedRestaurantObj.rooms[0].id
                        // this.selectedRoomObj = this.get_room(this.selectedRoom)
                        // this.get_bookings()
                        this.get_room()
                    })
                    .catch(error => {
                        console.log(error);
                    })
                    .finally(() => {
                        this.bookingDataLoading = false
                        this.selectedBooking = null
                        this.get_bookings()
                    })
            }
        },
        rejectReservation() {
            axios
                .post('/api/v1/reject_reservation/', {booking: this.selectedBooking.id})
                .then(response => {
                    // this.selectedRestaurantObj = response.data;
                    // this.selectedRoom = this.selectedRestaurantObj.rooms[0].id
                    // this.selectedRoomObj = this.get_room(this.selectedRoom)
                    // this.get_bookings()
                    // this.get_room()
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => {
                    this.bookingDataLoading = false
                    this.showModalReject = false
                    this.selectedBooking = null
                    this.get_bookings()
                })
        },

        assignTable(booking) {
            this.assignTableObj = booking
            this.showModal = true
        },
        changeBookingDate(updateHour) {
            this.get_hours(this.selectedRestaurant, this.bookingDate, updateHour)
            this.get_tables()
        },
        changeBookingTime() {
            console.log('qui');
            this.get_tables()
        },
        get_tables() {
            axios
                .post('/api/v1/get_tables/', {date: this.bookingDate, hour: this.bookingHours, room: this.selectedRoom})
                .then(response => {
                    this.tables = response.data
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.bookingDataLoading = false)
        },
        set_status(status_id) {
            this.selectedStatus = status_id
            // get booking data for status
            this.get_bookings()
        },
        set_room(room_id) {
            this.get_room(room_id)
        },
        setRestaurant() {
            axios
                .post('/api/v1/get_restaurant/' + this.selectedRestaurant)
                .then(response => {
                    this.selectedRestaurantObj = response.data;
                    this.selectedRoom = this.selectedRestaurantObj.rooms[0].id
                    this.selectedRoomObj = this.get_room(this.selectedRoom)
                    this.get_bookings()
                    this.get_hours(this.selectedRestaurant, this.bookingDate)
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.bookingDataLoading = false)

        },
        get_room(room_id) {
            this.roomLoading = true
            axios
                .post('/api/v1/get_room/' + room_id)
                .then(response => {
                    this.selectedRoom = room_id
                    this.selectedRoomObj = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => {
                    this.get_tables()
                    this.roomLoading = false
                })
        },
        get_bookings() {
            this.bookingDataLoading = true
            axios
                .post('/api/v1/get_bookings/' + this.selectedStatus + '/' + this.selectedRestaurant)
                .then(response => {
                    this.bookingData = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => {
                    this.bookingDataLoading = false
                    this.get_tables()
                })
        },
        get_status() {
            axios
                .post('/api/v1/get_reservation_status')
                .then(response => {
                    this.status = response.data;
                    this.set_status(this.status[0].id)
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        },
        get_hours(restaurant, date, updateHour = true) {
            axios
                .post('/api/v1/get_hours/' + restaurant + '/' + date)
                .then(response => {
                    this.hours = Object.values(response.data);
                    if (updateHour) {
                        const start = moment()
                        const remainder = 30 - (start.minute() % 30);
                        const dateTime = moment(start).add(remainder, "minutes").format("H:mm");
                        this.bookingHours = dateTime
                    }

                    this.get_tables()
                })
                .catch(error => {
                    console.log(error);
                })
                .finally(() => this.loading = false)
        },
        closeModal() {
            this.showModal = false
        }
    }
    ,
    created() {
        this.company_id = this.$attrs.companyid;
    }
    ,
    mounted() {
        axios
            .post('/api/v1/company/' + this.company_id)
            .then(response => {
                this.company = response.data;
                this.selectedRestaurant = this.company.restaurants[0].id
                this.selectedRestaurantObj = this.setRestaurant(this.selectedRestaurant)
            })
            .catch(error => {
                console.log(error);
            })
            .finally(() => this.loading = false)
        this.get_status()
    }
}
</script>

<style scoped>
.shape_rectangle {
    text-align: center;
    border-radius: 0;
}

.shape_circle {
    text-align: center;
    border-radius: 50%;
}

.booking-table {
    cursor: pointer;
}

.booking-table:hover {
    background-color: #ececec;
}

.booking {
    cursor: pointer;
}

.booking:hover {
    background-color: #ececec;
}

.booking_selected {
    background-color: #b6d0e5;
}

.booking_selected:hover {
    background-color: #b6d0e5;
}

.reserved {
    background-color: rgba(212, 0, 12, 0.42);
}

.reserved:hover {
    background-color: rgba(212, 0, 12, 0.50);
}
</style>
