<template>
    <div class="container mt-10" v-if="page_loading">
        <div class="row">
            <div class="col-md-12 text-center">
                <i class="fa fa-spin fa-spinner fa-4x"></i>
            </div>
        </div>
    </div>
    <div class="container mt-1" v-else>
        <div class="row mb-4">
            <div class="col-md-4">
                <input type="search" class="form-control" v-model="search_bar" v-on:keyup="get_restaurants"
                       placeholder="Trova ristorante. . ."/>
            </div>
            <div class="col-md-3">
                <select v-model="selectedDistrict" class="form-control" @change="get_restaurants">
                    <option value="0" readonly="readonly" class="disabled">Tutti i distretti</option>
                    <option v-for="district in districts" v-bind:value="district.id">
                        {{ district.name }}
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="date" v-on:change="get_restaurants" v-model="date_filter" class="form-control"/>
            </div>
            <div class="col-md-2">
                <input type="time" v-on:change="get_restaurants" v-model="time_filter" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <h2>Ristorazione</h2>
                <ul class="list-group list-group-flush list-group-careers">
                    <li class="list-group-item pt-0 pb-0" v-for="restaurant_type in restaurant_types">
                        <input type="checkbox" v-on:change="get_restaurants" v-bind:id="restaurant_type.id"
                               v-bind:value="restaurant_type.id" v-model="checked_restaurant_types"/>
                        {{ restaurant_type.name }}
                    </li>

                </ul>

                <h2>Abitudini alimentari</h2>
                <ul class="list-group list-group-flush list-group-careers">
                    <li class="list-group-item pt-0 pb-0" v-for="alimentary in alimentaries">
                        <input type="checkbox" v-bind:id="alimentary.id" v-bind:value="alimentary.id"
                               v-model="checked_alimentaries" v-on:change="get_restaurants"/>
                        {{ alimentary.name }} <img :src="alimentary.icon" width="16px"/>
                    </li>

                </ul>

                <h2>Cucina</h2>
                <ul class="list-group list-group-flush list-group-careers">
                    <li class="list-group-item pt-0 pb-0" v-for="kitchen in kitchens">
                        <input type="checkbox" v-on:change="get_restaurants" v-bind:id="kitchen.id"
                               v-bind:value="kitchen.id" v-model="checked_kitchens"/>
                        {{ kitchen.name }}
                    </li>

                </ul>
            </div>
            <div class="col-lg-9">
                <div class="row" v-if="restaurant_loading && !page_loading">
                    <div class="col-md-12 text-center">
                        <i class="fa fa-spin fa-spinner fa-4x"></i>
                    </div>
                </div>
                <div class="row" v-else>
                    <div class="col-md-12" v-if="restaurants.length">
                        <div class="row">
                            <a class="col-md-3 col-xl-4 mb-5" href="#" @click="booking(restaurant)"
                               v-for="restaurant in restaurants"
                               v-if="restaurants.length">
                                <a class="card post-preview lift text-decoration-none">
                                    <img class="card-img-top img-fluid" :src="restaurant.company.logo"
                                         :alt="restaurant.company.name"/>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ restaurant.name }}
                                        </h5>
                                        <p class="card-text">{{
                                                restaurant.info.kitchen.name
                                            }}</p>
                                        <span class="font-italic text-black-50">
                                            <i class="fa fa-map-marked fa-fw"></i>
                                        {{ restaurant.address }}
                                    </span><br>
                                        <span class="badge badge-primary-soft float-right">
                                        {{ restaurant.info.restaurant_type }}
                                    </span>
                                    </div>
                                    <div class="card-footer">
                                        <div class="post-preview-meta">
                                            <div class="post-preview-meta-details ">
                                                <div class="post-preview-meta-details-name ">
                                                    <img v-for="ali in restaurant.info.alimentary"
                                                         class="float-left img-fluid" width="20px" :src="ali.icon"
                                                         :alt="ali.name"/>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 alert alert-info-soft" v-else>
                        Non abbiamo trovato bar/ristoranti con questi criteri di ricerca
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "reservations",
    data() {
        return {
            page_loading: true,
            restaurant_loading: true,
            alimentaries: null,
            checked_alimentaries: [],
            restaurant_types: null,
            checked_restaurant_types: [],
            kitchens: null,
            checked_kitchens: [],
            search_bar: null,
            date_filter: new Date().toISOString().substr(0, 10),
            time_filter: null,
            restaurants: null,
            selectedDistrict: 0,
            districts: null
        }
    },
    methods: {
        get_filters() {
            axios
                .post('/api/v1/districts')
                .then(response => {
                    this.districts = response.data
                })
                .catch(error => {
                    console.log(error);
                })
            axios
                .post('/api/v1/alimentaries')
                .then(response => {
                    this.alimentaries = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
            axios
                .post('/api/v1/restaurant_types')
                .then(response => {
                    this.restaurant_types = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
            axios
                .post('/api/v1/kitchens')
                .then(response => {
                    this.kitchens = response.data;
                })
                .catch(error => {
                    console.log(error);
                }).finally(() => {
                this.page_loading = false
                this.get_restaurants()
            })
        },
        get_restaurants() {
            this.restaurant_loading = true
            axios
                .post('/api/v1/get_restaurants', {
                    searchbar: this.search_bar,
                    datefilter: this.date_filter,
                    timefilter: this.time_filter,
                    alimentaries: Object.values(this.checked_alimentaries),
                    restauranttypes: Object.values(this.checked_restaurant_types),
                    kitchens: Object.values(this.checked_kitchens),
                    district: this.selectedDistrict,
                })
                .then(response => {
                    console.log(response.data);
                    this.restaurants = response.data;
                })
                .catch(error => {
                    console.log(error);
                }).finally(() => {
                this.restaurant_loading = false
            })
        },
        booking(restaurant) {
            let href = '/booking/' + restaurant.id;
            if (this.date_filter !== null) {
                href += '/' + this.date_filter;
            }
            if (this.time_filter !== null) {
                href += '/' + this.time_filter;
            }
            window.location.href = href;
        }
    },
    mounted() {
        this.get_filters()
    }
}
</script>

<style scoped>

</style>
