<template>
    <div class="row">
        <div class="col-md-12" v-if="loading">
            <div class="text-center">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
            </div>
        </div>
        <div class="col-md-12" v-else>
            <div v-if="Object.keys(content).length === 0 && !presentation_mode" class="alert alert-warning">
                Non hai ancora creato la tua pagina
            </div>
            <div class="row" v-if="!presentation_mode">
                <div class="col-md-4 editor">
                    <label class="form-check-label">Titolo</label>
                    <input type="text" class="form-control" v-model="content.title">
                    <label class="form-check-label">Sottotitolo</label>
                    <input type="text" class="form-control" v-model="content.subtitle">
                    <label class="form-check-label">Immagine</label>
                    <input type="file" class="form-control-file" accept="image/jpeg,image/png,image/gif" @change=uploadImage>
                    <span class="text-danger">Max 2Mb.</span><br>
                    <label class="form-check-label mt-1">Contenuto</label>
                    <textarea class="form-control" v-model="content.content"></textarea>
                    <input type="submit" value="Salva" @click="saveContent" class="mt-1 btn btn-sm btn-success">
                </div>
                <div class="col-md-8">
                    <h1>
                        {{ content.title ? content.title : default_content.title }}
                    </h1>
                    <h4>
                        {{ content.subtitle ? content.subtitle : default_content.subtitle }}
                    </h4>
                    <div class="row">
                        <div class="col-md-8">
                            <p>
                                {{ content.content ? content.content : default_content.content }}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img
                                :src="content.img ? content.img : default_content.img"
                                class="img-fluid" alt="...">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" v-else>
                <div class="col-md-12">
                    <h1>
                        {{ content.title ? content.title : '' }}
                    </h1>
                    <h4>
                        {{ content.subtitle ? content.subtitle : '' }}
                    </h4>
                    <div class="row">
                        <div class="col-md-8">
                            <p>
                                {{ content.content ? content.content : '' }}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <img
                                :src="content.img ? content.img : ''"
                                class="img-fluid" alt="...">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "t1",
    prop: ['page'],

    data() {
        return {
            loading: true,
            page: null,
            content: {},
            presentation_mode: false,
            default_content: {
                title: 'Titolo',
                subtitle: 'Sottotitolo',
                content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent maximus libero nec ante feugiat pretium. Aliquam ornare at risus vel lobortis. Curabitur elit elit, bibendum quis libero in, sollicitudin imperdiet massa. Nullam finibus orci nec purus lacinia, at luctus augue pellentesque. Aenean eleifend gravida eleifend. Fusce rutrum lobortis convallis. Curabitur rutrum elementum velit sit amet semper. Mauris vitae purus consectetur ante blandit dignissim eu sit amet lacus. Phasellus non dui non ligula maximus iaculis in scelerisque nisl. Curabitur facilisis lacinia nisi, quis lacinia es',
                img: 'https://martinsitconsulting.com/wp-content/themes/fox/images/placeholder.jpg'
            }
        }
    },
    methods: {
        get_content() {
            axios
                .post('/api/v1/get_page_content/' + this.page.id)
                .then(response => {
                    this.content = response.data;
                })
                .catch(error => {
                    console.log(error);
                }).finally(() => {
                this.loading = false
            })
        },
        uploadImage(e){
            const image = e.target.files[0];
            const reader = new FileReader();
            reader.readAsDataURL(image);
            reader.onload = e =>{
                this.content.img = e.target.result;
                this.content.realImg = image;
            };
        },
        saveContent() {
            this.loading = true
            let formData = new FormData();
            formData.append('title', this.content.title);
            formData.append('subtitle', this.content.subtitle);
            formData.append('content', this.content.content);
            if (Object.keys(this.content).includes('realImg')){
                formData.append('file', this.content.realImg);
            }
            axios
                .post('/api/v1/save_page_content/' + this.page.id, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(response => {
                    this.content = response.data;
                    Vue.$toast.success('Aggiornato con successo!');
                })
                .catch(error => {
                    console.log(error);
                    Vue.$toast.error('Ops! Qualcosa è andato storto.');
                }).finally(() => {
                this.loading = false
            })
        }
    },
    created() {
        this.page = this.$attrs.page;
        this.presentation_mode = this.$attrs.presmode;
    },
    mounted() {
        this.get_content()
    }
}
</script>

<style scoped>
.editor {
    border-right: 1px solid lightslategrey;
}
</style>
